.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.hidden {
    display: none;
}

.infoBlock {
    width: fit-content;
    line-height: 0.5em;
    padding-top: 20px;
}

.blackAndWhite {
    background-color: white;
    color: black;
}

.blackAndWhite:hover {
    background-color: black;
    color: white;
}

body {
    margin: 0px;
    background-image: url("../assets/images/bubbles-background.jpg");
}

canvas {
    display: block;
    margin: auto;
    border: 2px solid black;
}

button {
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}